:root{
    --clr-main: ;
    --clr-darker: ;
    --clr_lighter: ;
}

html{
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display:none;
}

body{
    box-sizing: border-box;
    text-align: center;
    font-family: arial;
    margin:0;
    padding:0;
    background-color: lightseagreen;
    overflow-y: auto;

}

a{
    text-decoration: none;
}

.header{
    background-color:#f08080;
    height: 9vh;
    position:absolute;
    width: 100%;
    top:0;
}

.main{
    margin-top: 9vh;
}

.menu__box{
    display: grid;
    place-items: center;
    position: fixed;
    bottom:3%;
    right: 3%;
    background-color: lightcoral;
    padding:20px;
    border-radius: 50%;
    z-index: 999;
    
}
.menu__box:active{
    transform: rotate(-180deg);
    transition: all .5s ease;
}

.main__nav{
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    bottom: 4%;
    right: 4%;
    width:0%;
    height: 0%;
    font-size: 0;
    z-index: 99;
    
    border-radius: 50%;
    transition: all .5s ease;
}
.main__ul{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.main__li{
    list-style:none;
    white-space: nowrap;
}

.main__a{
    color: #eee;
}

.main__section{
    padding:1%;
    height: 100vh;
    background-color: lightgreen;
}

.hidden{
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    font-size: 3rem;
    letter-spacing: 5px;
    bottom: 0;
    right: 0;

}

.no-scroll{
    overflow-y: hidden;
}